﻿@model MyJavaScript.Models.Entity.Project

@{
    ViewBag.Title = "Delete";
}


<div>
    <hr />

    @using (Html.BeginForm("Delete", "Projects", new { id = Model.ID }, FormMethod.Post, new { id = "deleteForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color"></div>
    }

</div>

@section Scripts {
<script>
    $("#deleteBtn").on("click", function () {
            $("#deleteForm").submit();
        });
</script> 
    }


